snippet tom
# Public: ${4:Expain Purpose}
#
# ${5:Argument} - ${6:Argument Explanation}
#
# Examples
#
#   $1
#   # => $2
#
# ${3:Explain Return}
endsnippet

snippet ruby
#!/usr/bin/env ruby
endsnippet

snippet bash
#!/usr/bin
endsnippet
